@import "welcome.css";
@import "about.css";
@import "select-language.css";
@import "dashboard.css";
@import "sidebar.css";
@import "dialog.css";

.root {
    -fx-font-family: "Segoe UI";
    -fx-background-image: url("../icons/background.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
