fastapi==0.115.0
uvicorn==0.34.0
scikit-learn==1.5.2
xgboost==2.1.1
imbalanced-learn==0.12.4
numpy==1.26.4
scipy==1.13.1
spacy==3.7.4
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
rapidfuzz==3.14.5
openai-whisper==20250625
librosa==0.10.2
pydub==0.25.1
webrtcvad==2.0.10
pydantic==2.9.2
gtts==2.3.0
pyinstaller==6.11.1
